In [2]:
import re
from pdfminer.high_level import extract_pages, extract_text
import pandas as pd

Methods for scraping the articles

In [3]:
def get_text_pdf(pdfname):
    text = extract_text(pdfname)
    return text

def get_sentences(text):
    pattern = r'(?<!\w\.\w.)(?<![A-Z][a-z]\.)(?<=\.|\?|\!)\s'
    sentences = re.split(pattern, text)
    sentences = [s.strip() for s in sentences if s.strip()]
    return sentences

def display_sentences(list):
    for sentence in list:
        print(sentence + "\n")
        print("--------------------------------------")

def dictionary_to_df(sentences):
    return pd.DataFrame(sentences, columns=['Sentence'])

def save_dataframe(df, filename):
    try:
        df.to_csv(filename)
        print("save successful")
    except:
        print("file not saved properly")

In [4]:
articles_path = '/Users/prasunbanerjee/Desktop/UniversityMaterials/Research/FSIL/data/bkSamples.csv'

In [48]:
df = pd.read_csv(articles_path)
df['Article_title'][5]

'Berkshire Hathaway Stock Is Telling Investors Exactly What Buffett Wants'

In [40]:
#constructing the dataframes from each article
def split_articles(df):
    return df['Article'].apply(get_sentences).tolist()

def sentences_to_df(data):
    all_rows = []
    for idx, sentences in enumerate(data):
        for sentence in sentences:
            all_rows.append({'Article_ID': idx + 1, 'Sentence': sentence})
    
    return pd.DataFrame(all_rows)

In [41]:
sentences_list = split_articles(df)
df_sentences = sentences_to_df(sentences_list)
df_sentences

     Article_ID                                           Sentence
0             1  Investors have been inundated with headlines a...
1             1  The Dow Jones Industrial Average, the S&P 500,...
2             1  Famed investor Warren Buffett has counseled in...
3             1  Be greedy when others are fearful." With that ...
4             1                               Image source: Apple.
..          ...                                                ...
433          10       As of this writing, he owned shares in BABA.
434          10  To follow the value of cryptocurrencies bookma...
435          10                  appeared first on InvestorPlace .
436          10  The views and opinions expressed herein are th...
437          10  The views and opinions expressed herein are th...

[438 rows x 2 columns]

In [42]:
df_sentences.to_csv('BKRSentences.csv', index=False)